#super-json-display {
    font-family: monospace;
    font-weight: 300;
    font-size: 1rem;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sjd-row {
    height: 2rem;
    max-height: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sjd-indent {
    border-left: 1px solid rgba(255, 255, 255, 0.07);
}

.sjd-key {
    color: #f5f5f5;
}

.sjd-bracket {
    color: #ff7f50;
}

.sjd-string {
    color: #deb887;
}

.sjd-number {
    color: #87cefa;
}

.sjd-boolean {
    color: #87cefa;
}

.sjd-null {
    color: #87cefa;
}

.sjd-punct {
    color: rgba(255, 255, 255, 0.3);
}

.sjd-row-number {
    color: rgba(255, 255, 255, 0.2);
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    min-width: 2rem;
    user-select: none;
}

.sjd-string-line {
    height: 100%;
    display: flex;
    align-items: center;
}

.sjd-add-on {
    color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sjd-warning {
    color: #ff6347;
}

#super-json-display span {
    white-space: pre-wrap;
    height: 100%;
    display: flex;
    align-items: center;
}